<%= form_for(@participation) do |f| %>
  <% if @participation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@participation.errors.count, "error") %> prohibited this participation from being saved:</h2>

      <ul>
      <% @participation.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

	<ol>
		<% @participation.poll.questions.each do |question| %>
			<li>
				<%= question.text %><br />
				<% question.options.each do |option| %>
				  <label for="options"><%= option.text %>:</label>
				  <%= option_tag_for(option, question) %>
				<% end %>
			</li>
		<% end %>
	</ol>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
