<li>
	<div class="field">
		<%= f.object.text %><br />

		<%= f.fields_for :options, f.object.options do |builder| %>
		  <!-- < %= render 'option_fields', :f => builder, :locals => { :question => f.object.text } %> -->
			<div class="field">
			  <% if f.object.kind == "multiple choice" %>
			    <%= check_box_tag "#{f.object.id}[]", builder.object.id %>
			  <% else %>
			    <%= radio_button_tag "#{f.object.id}[]", builder.object.id %>
			  <% end %>
			  <%= builder.object.text %>
			</div>
		<% end %>
	</div>
</li>