<h2>Enter question #<%= @questions_count + 1 %></h2>
<p><%= f.label :new_question_text, "Question: " %>
   <%= f.text_field :new_question_text %>
</p>
<p><%= f.label :new_question_kind, "Kind: " %>
   <%= f.select :new_question_kind, Question::KINDS, :prompt => 'Select a kind' %>
</p>