<%= form_for(@poll) do |f| %>
  <% if @poll.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@poll.errors.count, "error") %> prohibited this poll from being saved:</h2>

      <ul>
      <% @poll.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= render "#{@poll.current_step}_step", :f => f %>

  <div class="actions">
    <%= f.submit "Back", :name => 'back_button' unless @poll.first_step? %>
    <%= f.submit "Continue" unless @poll.last_step? %>
    <%= f.submit "Publish", :name => 'publish_button' if @poll.last_step? %>
  </div>
<% end %>
