<h3>Question <%= @question_index %></h3>
<div class="field">
  <%= f.label "question text" %><br />
  <% field_class = get_question_field_class(:text) %>
  <span class="<%= field_class %>"><%= f.text_field :text %></span>
</div>
<div class="field">
  <%= f.label "question kind" %><br />
  <%= f.select :kind, Question::KINDS, :prompt => 'Select a kind' %>
</div>