<p id="notice"><%= notice %></p>

<p>
  <b>Text:</b>
  <%= @option.text %>
</p>

<p>
  <b>Question:</b>
  <%= @option.question_id %>
</p>


<%= link_to 'Edit', edit_option_path(@option) %> |
<%= link_to 'Back', options_path %>
