<p id="notice"><%= notice %></p>

<p>
  <b>Participation:</b>
  <%= @answer.participation_id %>
</p>

<p>
  <b>Option:</b>
  <%= @answer.option_id %>
</p>


<%= link_to 'Edit', edit_answer_path(@answer) %> |
<%= link_to 'Back', answers_path %>
