<%= form_for(@poll) do |f| %>
  <% if @poll.errors.any? || @question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@poll.errors.count + @question.errors.count, "error") %> prohibited this poll from being saved:</h2>

      <ul>
      <% @poll.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      <% @question.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

	<div class="field">
	  <%= f.label "Poll title" %><br />
	  <%= f.text_field :title %>
	</div>
	<div class="field">
	  <%= f.label "Poll category" %><br />
	  <%= f.select :category, Poll::CATEGORIES, :prompt => 'Select a category' %>
	</div>

  <div class="questions">
		<h2>Question list</h2>
		<p><%= add_question_button 'Add a question' %></p>
	</div>

	<div class="actions">
	  <%= f.submit 'Cancel', :name => 'cancel_button' %>
	  <%= f.submit 'Publish' %>
	</div>
<% end %>
