<h3>Question <%= question_index %></h3>
<div class="field">
  <% field_class = get_question_field_class(:text) %>
  <%= f.label "question text" %><br />
  <span class="<%= field_class %>"><%= f.text_field :text %></span>
</div>
<div class="field">
  <% field_class = get_question_field_class(:kind) %>
  <%= f.label "question kind" %><br />
  <span class="<%= field_class %>"><%= f.select :kind, Question::KINDS, :prompt => 'Select a kind' %></span>
</div>
<%= f.fields_for :options, @option do |builder| %>
  <%= render 'option_fields', :f => builder %>
<% end %>
<% if show_delete? %>
<div class="field">
	<%= f.check_box '_destroy' %>
	<%= f.label '_destroy', 'Remove' %>
</div>
<div class="actions">
  <%= f.submit 'Update', :name => 'update_button', :confirm => 'Are you sure?' %>
</div>
<% end %>
