<!DOCTYPE html>
<html>
<head>
  <title>Easy Poll</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body id="easypoll">
  <div id="background_header">
    <div id="header">
	  Easy Poll Server Application
	</div>
    <div id="home">
	  <%= link_to(image_tag('/images/home.png'), '/')%>
	</div>
	<div id="login">
	  <% if user_signed_in? %>
	    Logged in as <%= current_user.email %> |
	    <%= link_to('Edit registration', edit_user_registration_path) %> |
	    <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
	  <% elsif admin_signed_in? %>
	    <%= link_to('Edit registration', edit_admin_registration_path) %> |
	    <%= link_to('Logout', destroy_admin_session_path, :method => :delete) %>
	  <% else %>
	    <%= link_to('Login', new_user_session_path)  %> | 
	    <%= link_to('Register', new_user_registration_path)  %>
	  <% end %>
	</div>
  </div>
  <div id="main">
	<% if flash[:alert] %>
	  <p class="flash-error"><%= flash[:alert] %></p>
	<% end %>
	<% if flash[:notice] %>
	  <p class="flash-notice"><%= flash[:notice] %></p>
	<% end %>
	<%= yield %>
  </div>
  <div id="footer">
	<% if user_signed_in? %>
	  Last login at: <%= current_user.last_sign_in_at.to_formatted_s(:long) %>
	<% end %>
  </div>
</body>
</html>
