<!DOCTYPE html>
<html>
<head>
  <title>Easy Poll</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body id="easypoll">
  <div id="header">
    Placeholder for page header
  </div>
  <div id="login">
    Placeholder for login/logout area
  </div>
  <div id="main">
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </div>
  <div id="footer">
    Placeholder for page footer
  </div>
</body>
</html>
